// .header {
//   background-color: #12001c;
// }

.bg-nav {
    background-color: #220034;
    border-bottom: 1px solid #ffff;
  
    a {
      color: #f2f2f2;
      &:hover {
        color: #dfaeff;
      }
    }
  }

  
  .aside {
    z-index: 100;
    position: absolute;
    margin: 0;
    padding: 25px 10px;
    background-color: #9cfcdc;
    width: 20%;
    height: 100%;
  }
  
  
  .aside-li {
    list-style-type: none;
  }
  
  .aside-link {
    color: #a321ff;
    text-decoration: none;
    font-size: 18px;
    &:hover {
      color: #7e00d8;
    }
  }
  