<header class="header">
  <nav class="navbar navbar-expand-lg bg-nav">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a appFontSize class="navbar-brand" href="#">COURSANE</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <aside class="aside">
    <ul class="aside-ul d-flex flex-column gap-4">
      <li class="aside-li">
        <a class="aside-link" href=""> Home </a>
      </li>
      <li class="aside-li">
        <a class="aside-link" href=""> List </a>
      </li>
      <li class="aside-li">
        <a class="aside-link" href=""> My Courses </a>
      </li>
      <li class="aside-li">
        <a class="aside-link" href=""> Chat </a>
      </li>
      <li class="aside-li">
        <a class="aside-link" href=""> List </a>
      </li>
    </ul>
  </aside>
</header>
