<mat-toolbar color="primary">
  <div class="example-sidenav-content">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    [opened]="!isMobile()"
    [mode]="isMobile() ? 'over' : 'side'"
    #drawer
    class="example-sidenav"
  >
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Mi perfil
    </button>
    @if (showFiller) {
    <p class="p-3">Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <ul class="nav-ul d-flex flex-column gap-2 my-2 py-4">
      <li class="nav-li">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-li">
        <a class="nav-link" href="/">Cursos</a>
      </li>
      <li class="nav-li">
        <a class="nav-link" href="/">Chat</a>
      </li>
      <li class="nav-li">
        <a class="nav-link" href="/">Gestión</a>
      </li>
    </ul>
  </mat-drawer>
  <main class="m-4">
    <app-users />
  </main>
</mat-drawer-container>
